{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="container-xxl p-3 p-lg-5 bg-body-tertiary" style="min-height: calc(100% - 77px);">
        <div class="text-center mb-5">
            <h1 class="fw-bold">About Me</h1>
            <p class="text-muted">A quick look</p>
        </div>

        <div class="mb-5">
            <h2 class="fw-semibold">Hi, I’m Tyler</h2>
            <p class="ms-2">I've built this website to showcase the various projects I've done. My personal and school projects are represented and show my journey learning various languages. Most of them contain unstyled spaghetti noodle code that works but isn't pretty.</p>
        </div>

        <div class="mb-5">
            <h3 class="fw-semibold">Things I enjoy</h3>

        </div>

        <div class="">
            <h3 class="fw-semibold">My Accounts</h3>
            <div class="d-flex flex-wrap gap-3 mt-2">
                <a href="https://github.com/tylerb153" class="btn btn-outline-dark">
                    <i class="bi bi-github"></i> GitHub
                </a>
                <a href="https://www.linkedin.com/in/tylerbischoff/" class="btn btn-outline-primary">
                    <i class="bi bi-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>

{% endblock %}
