{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}
    <!-- Upload Message -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ message.tags }} mb-0 shadow">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-xxl bg-body-tertiary" style="height: calc(100% - 77px);">
        <div class="row h-lg-100">
            <div class="text-center col-12 col-lg-6 mt-3 my-lg-0">
                <h3 class="fw-semibold mt-3">My Accounts</h3>
                <div class="d-flex flex-lg-column mx-auto">
                    <a href="https://github.com/tbisch1" class="btn btn-outline-dark mt-2 mx-lg-auto ms-auto me-1">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/tylerbischoff/" class="btn btn-outline-primary mt-2 mx-lg-auto ms-1 me-auto">
                        <i class="bi bi-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
            <div class="text-center col-12 col-lg-6 border-start mt-3 my-lg-0">
                <h3 class="fw-sembibold mt-3">Contact Me</h3>
                <form method="post" class="mx-auto w-75" method="POST" action="{% url 'contactMessage' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
