{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'showcase.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-xxl p-3 p-lg-5" style="min-height: calc(100% - 77px);">
        <div class="row g-3 g-lg-5">
            {% comment %} Featured Project {% endcomment %}
            {% if featuredProject %}
                <div class="col-12 col-md-6 d-flex" id="featured-project-tile">
                    <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 shadow flex-grow-1">
                        <h2 class="mb-0">Featured Project</h2>
                        <hr>
                        <a href="{% url 'projectDetails' featuredProject.slug %}" class="d-block text-reset text-decoration-none w-100">
                            <img src="{% if featuredProject.thumbnail.image %}{{ featuredProject.thumbnail.image.url }}{% else %}{% static 'images/LogoBW.svg' %}{% endif %}" onerror="this.src='{% static 'images/LogoBW.svg' %}'" class="w-100 project-image">
                            <hr>
                            <h5 class="mt-2 fs-4 project-details text-capitalize">{{featuredProject.title}}</h5>
                            <p class="mb-0 fst-italic project-details">{{featuredProject.creator}}</p>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% comment %} Upcoming Space Events {% endcomment %}
            <div class="col-12 col-md-6 d-flex" style="min-height: 350px;">
                <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 shadow flex-grow-1">
                    <h2 class="mb-0">Upcoming Space Events</h2>
                    <hr>
                    <div class="d-flex w-100 h-100">
                        <div class="flex-column w-100">
                            <h4 class="mb-0">Next Launch</h4>
                            <hr>
                            <div>
                                <p class="mb-0 text-nowrap text-truncate" id="launchName"></p>
                                <p class="mb-0 text-nowrap text-truncate" id="launchRocket"></p>
                                <p class="mb-0 text-nowrap text-truncate" id="launchDestination"></p>
                                <p class="mb-0 text-nowrap text-truncate" id="launchLaunchpad"></p>
                                <p class="mb-0 text-nowrap text-truncate" id="launchTime"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} Recent Project {% endcomment %}
            {% if recentProject %}
                <div class="col-12 col-md-6 d-flex">
                    <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 shadow flex-grow-1">
                        <h2 class="mb-0">Recent Project</h2>
                        <hr>
                        <a href="{% url 'projectDetails' recentProject.slug %}" class="d-block text-reset text-decoration-none w-100">
                            <img src="{% if recentProject.thumbnail.image %}{{ recentProject.thumbnail.image.url }}{% else %}{% static 'images/LogoBW.svg' %}{% endif %}" onerror="this.src='{% static 'images/LogoBW.svg' %}'" class="w-100 project-image">
                            <hr>
                            <h5 class="mt-2 fs-4 project-details text-capitalize">{{recentProject.title}}</h5>
                            <p class="mb-0 fst-italic project-details">{{recentProject.creator}}</p>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% comment %} Image Carousel {% endcomment %}
            {% if images %}
                <div class="col-12 col-md-6 d-flex" id='img-carousel-tile'>
                    <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 w-100 shadow justify-content-center">
                        <h2 class="mb-0">Images</h2>
                        <hr>
                        <div class="ratio ratio-4x3 border border-black border-1 rounded">
                            <div id="projectImageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                                <div class="carousel-indicators">                       
                                    {% for image in images %}
                                    <button type="button" data-bs-target="#projectImageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide 2"></button>
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner h-100">
                                    {% for image in images %}
                                        {% if image.project.slug %}
                                            <a href="{% url 'projectDetails' image.project.slug %}">
                                                <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
                                                    <img src="{{ image.image.url }}" class="d-block w-100 h-100 object-fit-cover" data-bs-toggle="modal" data-bs-target="#imageModal" data-slide-index="{{ forloop.counter0 }}" alt="Image of project">
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
                                                <img src="{% static 'images/Error.png' %}" class="d-block w-100 h-100 object-fit-cover" alt="Static fallback image">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#projectImageCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#projectImageCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
