{% extends "base.html" %}
{% load static %}
{% load showcase_filters %}
{% block title %}{{ build.title }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'showcase.css' %}">
{% endblock%}

{% block content %}
    <div class='d-flex h-100 mb-3'>
        {% comment %} Other Builds {% endcomment %}
        <div class="d-none d-lg-flex bg-body-tertiary p-3 sidebar" style="overflow-y: auto; height:100%;">
            <div class="d-flex flex-column align-items-center w-100">
                <h2 class="fw-bold">More Builds</h2>
                {% for build in builds %}
                <a href="{% url 'buildDetails' build.id %}" class="d-block shadow mt-3 build-container text-reset text-decoration-none w-100" style="padding:.75rem; height: calc(200px + 2 * .75rem);">
                    <img src="{% if build.thumbnail.image %}{{ build.thumbnail.image.url }}{% else %}{% static 'images/LogoBW.svg' %}{% endif %}" onerror="this.src='{% static 'images/LogoBW.svg' %}'" class="w-100 build-image">
                    <hr>
                    <h5 class="mt-2 fs-4 build-details text-capitalize">{{build.title}}</h5>
                    <p class="mb-0 fst-italic build-details">{{build.creator}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="vr d-none d-lg-block"></div>
        <div class="container-fluid p-lg-5 pt-5 mb-3" style="max-width: 1700px; overflow-y: auto; height: 100%">
            <h1 class="text-capitalize mb-0">{{ build.title }}</h1>
            <h3 class="fst-italic mb-0">{{ build.creator }}</h3>
            <div class="d-flex text-body-tertiary mb-0 mt-2 fs-5">
                {% if build.coordsx != null %}<p class="mb-0">x: {{build.coordsx}}&nbsp;&nbsp;&nbsp;&nbsp;</p>{% endif %}
                {% if build.coordsy != null %}<p class="mb-0">y: {{build.coordsy}}&nbsp;&nbsp;&nbsp;&nbsp;</p>{% endif %}
                {% if build.coordsz != null %}<p class="mb-0">z: {{build.coordsz}}</p>{% endif %}
            </div>
            <h5 class="mb-0 mt-3">Description:</h5>
            <p class="">{{ build.description }}</p>
            {% comment %} Carousel {% endcomment %}
            <div class="ratio ratio-4x3 mt-5 border border-black border-3 rounded">
                <div id="buildImageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                    <div class="carousel-indicators">                       
                        {% for image in build.images.all %}
                            <button type="button" data-bs-target="#buildImageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide 2"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in build.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100 h-100 object-fit-cover" alt="Image of build">
                            </div>
                        {% endfor %}
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#buildImageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#buildImageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <hr>
            <h5 class="mb-0 mt-3">Tags:</h5>
            {% if build.tags.all.count == 0 %}
            <p class="mb-0">No tags found...</p>
            {% else %}
                <div class="d-flex flex-wrap gap-2 mt-2">
                    <form class="mb-0" method="GET" action="{% url 'showcase' %}">
                        {% for tag in build.tags.all %}
                        <button class="mt-1 btn {% if tag.name in request.GET.filters %}btn-secondary{% else %}btn-outline-secondary{% endif %}" type="submit" name="filters" value="{% if tag.name in request.GET.filters %}{{ request.GET.filters|exclude:tag.name }}{% else %}{{ request.GET.filters }}{{ tag.name }},{% endif %}" type="button">{{tag.name}}</button>{% endfor %}
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}