{% extends "base.html" %}
{% load static %}
{% load showcase_filters %}
{% block title %}Build Showcase{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'showcase.css' %}">
{% endblock%}
{% block content %}
    <!-- Mobile Sidebar -->
    <div class="d-flex flex-column d-lg-none py-3 justify-content-center bg-body-tertiary mobile-sidebar">
        <button class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#NewBuildModel" type="button">
            <p class="btn-p">+ Post a Build</p>
        </button>
        <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <button class="btn btn-secondary d-flex align-items-center justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#filterDropdown" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-filter fs-3"></i>
            <p class="btn-p ms-0">Sort and Filter</p>
        </button>
    </div>
    <hr class="d-lg-none my-0">
    <div class="collapse" id="filterDropdown">
        <div class="card card-body bg-body-tertiary mobile-sidebar">
            <div class="flex-column p-0">
                <button class="btn btn-outline-secondary w-100" type="button">
                    <div class="container">
                        <p class="btn-p">Sort By</p>
                    </div>
                </button>

                <h3 class="mt-3 mx-auto" style="font-size: 28px">Filters</h3>
                <div class="d-flex flex-wrap gap-2 mt-2">
                    {% for tag in tags %}
                        <button class="btn btn-outline-secondary" type="button">{{tag.name}}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Upload Message -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ message.tags }} mb-0 shadow">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex align-items-start mb-3" style="height: 100%">
        <!-- Sidebar -->
        <div class="d-none d-lg-flex flex-column bg-body-tertiary p-3 sidebar">
            <button class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#NewBuildModel" type="button">
                <p class="btn-p">+ Post a Build</p>
            </button>

            <form class="d-flex mt-3" role="search" method="GET" action="{% url 'showcase' %}">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ request.GET.search }}">
                <input type="hidden" name="filters" value="{{ request.GET.filters }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            {% comment %} <button class="btn btn-outline-secondary w-100" type="button">
                <div class="container">
                    <p class="btn-p">Sort By</p>
                </div>
            </button> {% endcomment %}

            <h3 class="mt-3 mx-auto" style="font-size: 28px">Filters</h3>
            <div class="d-flex flex-wrap gap-2 mt-2">
                <form class="mb-0" method="GET" action="{% url 'showcase' %}">
                <input type="hidden" name="search" value="{{ request.GET.search }}">
                {% for tag in tags %}
                    <button class="mt-1 btn {% if tag.name in request.GET.filters %}btn-secondary{% else %}btn-outline-secondary{% endif %}" type="submit" name="filters" value="{% if tag.name in request.GET.filters %}{{ request.GET.filters|exclude:tag.name }}{% else %}{{ request.GET.filters }}{{ tag.name }},{% endif %}" type="button">{{tag.name}}</button>{% endfor %}
                </form>
            </div>
        </div>
        <div class="vr d-none d-lg-block"></div>
        <!-- Builds -->
        <div class="container" style="max-width: 1700px; overflow-y: auto; height: 100%">
            <div class="row gap-2 ms-md-3 me-md-3 justify-content-center justify-content-lg-start">
                {% for build in builds %}
                    <a href="{% url 'buildDetails' build.id %}" class="col-auto shadow mt-3 build-container text-reset text-decoration-none">
                        <img src="{% if build.thumbnail.image %}{{ build.thumbnail.image.url }}{% else %}{% static 'images/LogoBW.svg' %}{% endif %}" onerror="this.src='{% static 'images/LogoBW.svg' %}'" class="w-100 build-image">
                        <hr>
                        <h5 class="mt-2 fs-4 build-details text-capitalize">{{build.title}}</h5>
                        <p class="mb-0 fst-italic build-details">{{build.creator}}</p>
                        <div class="d-flex text-body-tertiary mb-0 mt-2">
                            {% if build.coordsx != null %}<p class="mb-0">x: {{build.coordsx|truncatechars:6}}&nbsp;&nbsp;</p>{% endif %}
                            {% if build.coordsy != null %}<p class="mb-0">y: {{build.coordsy|truncatechars:6}}&nbsp;&nbsp;</p>{% endif %}
                            {% if build.coordsz != null %}<p class="mb-0">z: {{build.coordsz|truncatechars:6}}</p>{% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="d-flex mt-4 mb-1 mx-0 p-2 justify-content-center" style="max-width: 1400px">
                <div class="pagination">
                    <span class="step-links mx-1">
                        {% if builds.has_previous %}
                        <a class="btn btn-outline-secondary mx-1 d-none d-md-inline-block btn-page" href="?page=1&search={{ request.GET.search }}&filters={{ request.GET.filters }}">&laquo; first</a>
                        <a class="btn btn-outline-secondary mx-1 btn-page" href="?page={{ builds.previous_page_number }}&search={{ request.GET.search }}&filters={{ request.GET.filters }}">previous</a>
                        {% endif %}
                        
                        <span class="current mx-1">
                            Page {{ builds.number }} of {{ builds.paginator.num_pages }}
                        </span>
                        
                        {% if builds.has_next %}
                        <a class="btn btn-outline-secondary mx-1 btn-page" href="?page={{ builds.next_page_number }}&search={{ request.GET.search }}&filters={{ request.GET.filters }}">next</a>
                        <a class="btn btn-outline-secondary mx-1 d-none d-sm-inline-block btn-page" href="?page={{ builds.paginator.num_pages }}&search={{ request.GET.search }}&filters={{ request.GET.filters }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- New Build Model -->
    <div class="modal fade" id="NewBuildModel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">New Build</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="mb-0" method="POST" enctype="multipart/form-data" action="{% url 'createBuild' %}">
                        {% csrf_token %}
                        <label for="build-title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="build-title" name="title" required>

                        <label for="build-creator" class="col-form-label">Creator:</label>
                        <input type="text" class="form-control" id="build-creator" name="creator" required>

                        <div class="d-flex justify-content-between col-form-label">
                            <div class="d-flex flex-column w-25">
                                <label for="build-coordsx" class="col-form-label">x:</label>
                                <input type="number" class="form-control" id="build-coordsx" name="coordsx">
                            </div>
                            <div class="d-flex flex-column w-25">
                                <label for="build-coordsy" class="col-form-label">y:</label>
                                <input type="number" class="form-control" id="build-coordsy" name="coordsy">
                            </div>
                            <div class="d-flex flex-column w-25">
                                <label for="build-coordsz" class="col-form-label">z:</label>
                                <input type="number" class="form-control" id="build-coordsz" name="coordsz">
                            </div>
                        </div>
                            
                        <label for="build-description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="build-description" name="description" required></textarea>
                        
                        <label for="build-thumbnail" class="col-form-label">Thumbnail:</label>
                        <input type="file" id="build-thumbnail" class="form-control" accept="image/*" name="thumbnail" required>
                        <label for="build-images" class="col-form-label">Additional Images:</label>
                        <input type="file" id="build-images" class="form-control" accept="image/*" name="images" multiple>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create Build Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
