{% extends "base.html" %}
{% load static %}
{% block title %}Build Showcase{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'showcase.css' %}">
{% endblock%}
{% block content %}
    <!-- Mobile Sidebar -->
    <div class="d-flex flex-column d-lg-none py-3 justify-content-center bg-body-tertiary mobile-sidebar">
            <button class="btn btn-outline-primary w-100" type="button">
                <p class="btn-p">+ Post a Build</p>
            </button>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>

            <button class="btn btn-secondary mt-3 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#filterDropdown" aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-filter fs-3"></i>
                <p class="btn-p ms-0">Sort and Filter</p>
            </button>
        </div>
        <hr class="d-lg-none my-0">
    <div class="collapse" id="filterDropdown">
    <div class="card card-body bg-body-tertiary mobile-sidebar">
        <div class="flex-column p-0">
            <button class="btn btn-outline-secondary w-100 mt-3" type="button">
                <div class="container">
                    <p class="btn-p">Sort By</p>
                </div>
            </button>

            <h3 class="mt-3 mx-auto" style="font-size: 28px">Filters</h3>
            <div class="d-flex flex-wrap gap-2 mt-2">
                {% for tag in tags %}
                    <button class="btn btn-outline-secondary" type="button">{{tag.name}}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="d-flex align-items-start">
        <!-- Sidebar -->
        <div class="d-none d-lg-flex flex-column bg-body-tertiary p-3 sidebar">
            <button class="btn btn-outline-primary w-100" type="button">
                <p class="btn-p">+ Post a Build</p>
            </button>

            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <button class="btn btn-outline-secondary w-100 mt-3" type="button">
                <div class="container">
                    <p class="btn-p">Sort By</p>
                </div>
            </button>

            <h3 class="mt-3 mx-auto" style="font-size: 28px">Filters</h3>
            <div class="d-flex flex-wrap gap-2 mt-2">
                {% for tag in tags %}
                    <button class="btn btn-outline-secondary" type="button">{{tag.name}}</button>
                {% endfor %}
            </div>
        </div>
        <div class="vr d-none d-lg-block"></div>
        <!-- Builds -->
        <div class="container" style="max-width: 1700px;">
            <div class="row gap-2 ms-md-3 me-md-3 justify-content-center justify-content-lg-start">
                {% for build in builds %}
                    <div class="col-auto shadow mt-3 build-container">
                    <img src={% static 'images/LogoBW.svg' %} class="w-100 build-image">
                    <hr>
                    <h5 class="mt-2 fs-4 build-details">{{build.title}}</h5>
                    <p class="mb-0 fst-italic build-details">{{build.creator}}</p>
                    <div class="d-flex text-body-tertiary mb-0 mt-2">
                        {% if build.coordsx != null %}<p class="mb-0">x: {{build.coordsx}}&nbsp;&nbsp;</p>{% endif %}
                        {% if build.coordsy != null %}<p class="mb-0">y: {{build.coordsy}}&nbsp;&nbsp;</p>{% endif %}
                        {% if build.coordsz != null %}<p class="mb-0">z: {{build.coordsz}}</p>{% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
