{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'showcase.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-xxl p-3 p-lg-5" style="min-height: calc(100% - 77px);">
        <div class="row g-3 g-lg-5">
            {% comment %} Featured Build {% endcomment %}
            {% if featuredBuild %}
                <div class="col-12 col-md-6 d-flex" id="featured-build-tile">
                    <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 shadow flex-grow-1">
                        <h2 class="mb-0">Featured Build</h2>
                        <hr>
                        <a href="{% url 'buildDetails' featuredBuild.slug %}" class="d-block text-reset text-decoration-none w-100">
                            <img src="{% if featuredBuild.thumbnail.image %}{{ featuredBuild.thumbnail.image.url }}{% else %}{% static 'images/LogoBW.svg' %}{% endif %}" onerror="this.src='{% static 'images/LogoBW.svg' %}'" class="w-100 build-image">
                            <hr>
                            <h5 class="mt-2 fs-4 build-details text-capitalize">{{featuredBuild.title}}</h5>
                            <p class="mb-0 fst-italic build-details">{{featuredBuild.creator}}</p>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% comment %} Server Info {% endcomment %}
            <div class="col-12 col-md-6 d-flex" style="min-height: 350px;">
                <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 shadow flex-grow-1">
                    <h2 class="mb-0">Server Info</h2>
                    <hr>
                    <div class="d-flex align-items-center justify-content-center mx-auto" style="width: 198px;">
                        <span class="bi-copy pe-1 cursor-pointer" onclick="copyServerAddress(this.nextElementSibling)"></span>
                        <button class="nav-link text-decoration-underline" onclick="copyServerAddress(this)" style="">mc.theminecraftcult.com</button>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-0">Status: <span class="text-danger" id="serverStatus"></span></p>
                        <p class="mb-0" id="version-label"></p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p class="mb-0">Players:</p>
                        <p class="mb-0" id="serverPlayersLabel"></p>
                    </div>
                    <ul class="list-unstyled mb-0 border d-flex h-100">
                        <div class="overflow-y-auto" id="serverPlayersList">
                        </div>
                    </ul>
                </div>
            </div>

            {% comment %} Recent Build {% endcomment %}
            {% if recentBuild %}
                <div class="col-12 col-md-6 d-flex">
                    <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 shadow">
                        <h2 class="mb-0">Recent Build</h2>
                        <hr>
                        <a href="{% url 'buildDetails' recentBuild.slug %}" class="d-block text-reset text-decoration-none w-100">
                            <img src="{% if recentBuild.thumbnail.image %}{{ recentBuild.thumbnail.image.url }}{% else %}{% static 'images/LogoBW.svg' %}{% endif %}" onerror="this.src='{% static 'images/LogoBW.svg' %}'" class="w-100 build-image">
                            <hr>
                            <h5 class="mt-2 fs-4 build-details text-capitalize">{{recentBuild.title}}</h5>
                            <p class="mb-0 fst-italic build-details">{{recentBuild.creator}}</p>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% comment %} Image Carousel {% endcomment %}
            {% if images %}
                <div class="col-12 col-md-6 d-flex" id='img-carousel-tile'>
                    <div class="d-flex flex-column bg-body-tertiary border p-2 px-3 w-100 shadow justify-content-center">
                        <h2 class="mb-0">Images</h2>
                        <hr>
                        <div class="ratio ratio-4x3 border border-black border-1 rounded">
                            <div id="buildImageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                                <div class="carousel-indicators">                       
                                    {% for image in images %}
                                    <button type="button" data-bs-target="#buildImageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide 2"></button>
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner h-100">
                                    {% for image in images %}
                                        {% if image.build.slug %}
                                            <a href="{% url 'buildDetails' image.build.slug %}">
                                                <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
                                                    <img src="{{ image.image.url }}" class="d-block w-100 h-100 object-fit-cover" data-bs-toggle="modal" data-bs-target="#imageModal" data-slide-index="{{ forloop.counter0 }}" alt="Image of build">
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
                                                <img src="{% static 'images/LogoBW.svg' %}" class="d-block w-100 h-100 object-fit-cover" alt="Static fallback image">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#buildImageCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#buildImageCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="position-fixed me-5 top-0 start-0 h-100 w-100 overflow-hidden pe-none z-n1 background-div" style="background-image: url({% static 'images/homeBackground.png' %});">
        {% if map_link != "Offline" %}
            <iframe class="background-iframe" src="{{ mapLink}}?worldname=world&mapname=surface&zoom=5&x=189&y=64&z=4&nogui=true" tabindex="-1" id="background-iframe" style="width: 150%; height: 150%;"></iframe>
        {% endif %}
    </div>
{% endblock %}
