{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}
{% block head %}
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid p-3" style="height: calc(100% - 77px);">
        {% if dynmapLive or bluemapLive %}
            <div class="w-100 h-100 d-flex flex-column">
                {% if dynmapLive and bluemapLive %}
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="mapView" id="DynmapButton" checked>
                        <label class="btn btn-outline-secondary" for="DynmapButton">Dynmap</label>

                        <input type="radio" class="btn-check" name="mapView" id="BluemapButton">
                        <label class="btn btn-outline-secondary" for="BluemapButton">Bluemap</label>
                    </div>
                {% endif %}
                {% if dynmapLive %}
                    <iframe class="flex-grow-1 mt-3" src="{{ dynmapLink }}?{{ queryString }}" title="The Minecraft Cult Map" id="dynmap"></iframe>
                {% endif %}
                {% if bluemapLive %}
                    <iframe class="flex-grow-1 mt-3" src="{{ bluemapLink }}#{{ queryString }}" title="The Minecraft Cult Map" id="bluemap"></iframe>
                {% endif %}
            </div>
        {% else %}
                <p class="w-100 text-center">The map is unavalible for some reason please don't panic I'll fix it... maybe.</p>
        {% endif %}
    </div>
{% endblock %}