{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}
{% block head %}
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid p-3" style="height: calc(100% - 109px);">
        {% if map_link != "Offline" %}
            <iframe class="w-100 h-100" src="{{ map_link }}?{{ queryString }}" title="The Minecraft Cult Map"></iframe>
        {% else %}
                <p class="w-100 text-center">The map is unavalible for some reason please don't panic I'll fix it... maybe.</p>
        {% endif %}
    </div>
{% endblock %}