.btn-p {
    padding: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0em;
}

.sidebar {
    width: 25%;
    min-width: 250px;
    max-width: 400px;
    height: 100%;
}

.mobile-sidebar {
    padding-left: 12px;
    padding-right: 12px;
}

.build-container {
    max-width: 339px;
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
    transition: all .3s ease-out;
    flex: auto;
}
.build-container:hover {
    transform: scale(1.05);
}
.build-container:active {
    transform: scale(1.02);
}

.build-image {
    object-fit: cover; 
    aspect-ratio: 16/9;
}

.build-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-page {
    height: 40px;
}

.tags-look .tagify__dropdown__item{
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
    border-color: black;
}

.tags-look .tagify__dropdown__item:hover{
    background: lightyellow;
    border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
    max-width: 0;
    max-height: initial;
    padding: .3em 0;
    margin: .2em 0;
    white-space: nowrap;
    text-indent: -20px;
    border: 0;
}