.btn-p {
    padding: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0em;
}

.sidebar {
    width: 25%;
    min-width: 250px;
    max-width: 400px;
    height: calc(100vh - 63px);
}

.build-container {
    max-width: 339px;
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
    transition: all .3s ease-out;
    flex: auto;
}
.build-container:hover {
    transform: scale(1.05);
}
.build-container:active {
    transform: scale(1.02);
}

.build-image {
    object-fit: cover; 
    aspect-ratio: 16/9;
}

.build-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}